<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.spas.freeworkout">
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WorkoutActivity"
            android:label="Workout"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.spas.freeworkout.MainActivity" />
        </activity>
        <activity
            android:name=".ExerciseActivity"
            android:label="Exercise"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.spas.freeworkout.MainActivity" />
        </activity>
        <activity
            android:name=".HistoryActivity"
            android:label="History"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.spas.freeworkout.MainActivity" />
        </activity>
        <activity
            android:name=".MatrixActivity"
            android:label="Matrix"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.spas.freeworkout.MainActivity" />
        </activity>
        <activity
            android:name=".WorkoutsActivity"
            android:label="Workouts Overview"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.spas.freeworkout.MainActivity" />
        </activity>
        <activity
            android:name=".ExercisesActivity"
            android:label="Exercises Overview"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.spas.freeworkout.MainActivity" />
        </activity>
        <activity
            android:name=".WorkoutChooseActivity"
             android:label="Workout Choose"
            android:parentActivityName=".WorkoutsActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.spas.freeworkout.MainActivity" />
        </activity>
    </application>

</manifest>